<?xml version="1.0"?>
<openbox_menu xmlns="http://openbox.org/3.4/menu">
  <menu id="root-menu" label="Applications">
    <item label="Terminal">
      <action name="Execute"><command>footclient</command></action>
    </item>
    <item label="Kitty">
      <action name="Execute"><command>kitty</command></action>
    </item>
    <item label="Launcher">
      <action name="Execute"><command>wofi --show drun</command></action>
    </item>
    <item label="Files">
      <action name="Execute"><command>thunar</command></action>
    </item>
    <item label="NNN">
      <action name="Execute"><command>footclient -e nnn</command></action>
    </item>
    <item label="Audio">
      <action name="Execute"><command>pavucontrol</command></action>
    </item>
    <item label="Power">
      <action name="Execute"><command>/usr/local/bin/labwc-power-menu</command></action>
    </item>
  </menu>
</openbox_menu>
